body {
  background-color: rgb(255, 80, 167);
  font-family: "Courier New", monospace;
  color: white;
  margin: 0;
  padding: 0.1dvh;
  box-sizing: border-box;
  height: 100dvh;
}

.header {
  text-align: center;
  border: solid 0.5dvh;
  border-radius: 2dvh;
  margin-bottom: 1dvh;
}

img {
  height: auto;
  width: 100%;
  display: grid;
}

.tower-images {
  border: solid 0.5dvh;
  border-radius: 2dvh;
  display: grid;
}

.stats-container p {
  border: solid 0.5dvh;
  border-radius: 1dvh;
  padding: 0.5dvh;
  margin: 1dvh 0 1dvh 0;
  width: 44dvw;
  text-align: center;
  justify-content: center;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.restart-button {
  font-size: large;
  background-color: rgb(255, 80, 167);
  font-family: "Courier New", monospace;
  color: white;
  width: 100%;
  padding: 0.5dvh;
  border: solid 0.5dvh;
  border-radius: 1dvh;
}

br {
  display: none;
}

.selected-tower {
  background-color: rgba(0, 0, 0, 0.1);
}
