body {
  background-color: rgb(255, 80, 167);
  font-family: "Courier New", monospace;
  color: white;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 100dvh;
}

.header {
  text-align: center;
  border: solid 5px;
  border-radius: 20px;
  margin-bottom: 20px;
}

img {
  height: auto;
  width: 100%;
  display: grid;
}

.tower-images {
  border: solid 5px;
  border-radius: 20px;
  display: grid;
}

.stats-container p {
  border: solid 5px;
  border-radius: 10px;
  padding: 5px;
  width: 100dvb;
  text-align: center;
  justify-content: center;
}

.stats-container {
  display: flex;
}

.restart-button {
  font-size: large;
  background-color: rgb(255, 80, 167);
  font-family: "Courier New", monospace;
  color: white;
  width: 100%;
  padding: 5px;
  border: solid 5px;
  border-radius: 10px;
}

br {
  display: none;
}

.selected-tower {
  background-color: rgba(0, 0, 0, 0.1); /* Ztmavení pozadí */
}
